*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    border-image: url(/images/off.jpg);
    background-size: cover;
    width: 100%;



}
.container{
    width: 100%;
    margin: 0;
    padding: 0;
    background-size: cover;
}
.row{
    width: 100%;
}
.greet{
    color: rgb(2,99,166);
   font-family: ribeye-marrow;
    margin-left: 400px;
    position: absolute;
    text-align: center;
    margin-top: 30px;

}
.hi,lets{
    font-size: 90px;
    font-weight: bolder;

}
.slider {

  width: 100%;
  height: 100vh;
  margin: 0px auto;
  position: relative;
  text-align: center;
 background-position: center;


     filter: brightness(80%);
-webkit-filter: brightness(80%);
-moz-filter: brightness(80%);
-o-filter: brightness(80%);
-ms-filter: brightness(80%);



}
.slide1,.slide2,.slide3,.slide4,.slide5,.slide6,.slide7,.slide8,.slide9{
  position: absolute;
  width: 100%;
  height: 100vh;
}

.slide1 {
  background: url(../images/off.jpg)no-repeat center;
      background-size: cover;
    animation:fade 8s infinite;
-webkit-animation:fade 8s infinite;

}
.slide2 {
  background: url(../images/off.jpg)no-repeat center;
      background-size: cover;
    animation:fade2 6s infinite;
-webkit-animation:fade2 4s infinite;
}
.slide3 {
    background: url(../images/off.jpg)no-repeat center;
      background-size: cover;
    animation:fade3 4s infinite;
-webkit-animation:fade3 4s infinite;
}
.slide4 {
  background: url(../images/off.jpg)no-repeat center;
      background-size: cover;
    animation:fade 4s infinite;
-webkit-animation:fade 4s infinite;

}
.slide5 {
  background: url(../images/on1.jpg)no-repeat center;
      background-size: cover;
    animation:fade 4s infinite;
-webkit-animation:fade 4s infinite;

}
.slide6 {
  background: url(../images/on2.jpg)no-repeat center;
      background-size: cover;
    animation:fade 4s infinite;
-webkit-animation:fade 4s infinite;

}
.slide7 {
  background: url(../images/on4.jpg)no-repeat center;
      background-size: cover;
    animation:fade 4s infinite;
-webkit-animation:fade 4s infinite;

}
.slide8 {
  background: url(../images/on6.jpg)no-repeat center;
      background-size: cover;
    animation:fade 4s infinite;
-webkit-animation:fade 4s infinite;

}





@keyframes fade
{
  0%   {opacity:1}
  33.333% { opacity: 0}
  66.666% { opacity: 0}
  100% { opacity: 1}
}
@keyframes fade2
{
  0%   {opacity:0}
  33.333% { opacity: 1}
  66.666% { opacity: 0 }
  100% { opacity: 0}
}
@keyframes fade3
{
  0%   {opacity:0}
  33.333% { opacity: 0}
  66.666% { opacity: 1}
  100% { opacity: 0}
}













