*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;

}
.container{
    min-width: 100%;
    margin: 0;
    padding: 0;
}

.slider {

  width: 100%;
  height: 100vh;
  margin: 0px auto;
  position: relative;
  text-align: center;
}
.slide1,.slide2,.slide3,.slide4,.slide5,.slide6,.slide7,.slide8,.slide9{
  position: absolute;
  width: 100%;
  height: 100vh;
}

.slide1 {
  background: url(../images/off.jpg)no-repeat center;
      background-size: cover;
    animation:fade 8s infinite;
-webkit-animation:fade 1s infinite;

}
.slide2 {
  background: url(../images/on2.jpg)no-repeat center;
      background-size: cover;
    animation:fade2 6s infinite;
-webkit-animation:fade2 1s infinite;
}
.slide3 {
    background: url(../images/on3.jpg)no-repeat center;
      background-size: cover;
    animation:fade3 6s infinite;
-webkit-animation:fade3 1s infinite;
}
.slide4 {
  background: url(../images/on4.jpg)no-repeat center;
      background-size: cover;
    animation:fade 6s infinite;
-webkit-animation:fade 1s infinite;

}
.slide5 {
  background: url(../images/on5.jpg)no-repeat center;
      background-size: cover;
    animation:fade 4s infinite;
-webkit-animation:fade 4s infinite;

}
.slide6 {
  background: url(../images/on6.jpg)no-repeat center;
      background-size: cover;
    animation:fade 6s infinite;
-webkit-animation:fade 1s infinite;

}
.slide7 {
  background: url(../images/on7.jpg)no-repeat center;
      background-size: cover;
    animation:fade 6s infinite;
-webkit-animation:fade 1s infinite;

}
.slide8 {
  background: url(../images/on8.jpg)no-repeat center;
      background-size: cover;
    animation:fade 6s infinite;
-webkit-animation:fade 1s infinite;

}

.slide9 {
  background: url(../images/on9.jpg)no-repeat center;
      background-size: cover;
    animation:fade 6s infinite;
-webkit-animation:fade 1s infinite;

}



@keyframes fade
{
  0%   {opacity:1}
  33.333% { opacity: 0}
  66.666% { opacity: 0}
  100% { opacity: 1}
}
@keyframes fade2
{
  0%   {opacity:0}
  33.333% { opacity: 1}
  66.666% { opacity: 0 }
  100% { opacity: 0}
}
@keyframes fade3
{
  0%   {opacity:0}
  33.333% { opacity: 0}
  66.666% { opacity: 1}
  100% { opacity: 0}
}













